#mz-header {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .mz-tipbar {
    width: 100%;
    height: 24px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    line-height: 18px;
    background-color: #353535;
    color: #FFFFFF;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  .header-content {
    margin: 0 auto;
    display: flex;
    align-items: center;

    .header-logo-img {
      width: 150px;
      height: auto;
    }
  }

}

/* Estilos específicos para Desktop */
@media (min-width: 768px) {
  #mz-header {
    .mz-tipbar {
      font-size: 12px;
    }

    .mz-header-container {
      height: 88px;
      display: flex;
    }

    .header-search {
      display: flex;
      align-items: center;
      padding: 0 20px;

        input {
          width: 20vw;
          height: 40px;
          padding: 0 20px;
          border-radius: 10px;
          border: none;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: #353535;
          background-color: #EFEFEF;
        }

        button {
          width: 119px;
          height: 40px;
          background-color: #FAA500;
          border: none;
          border-radius: 8px;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #FFFFFF;
          cursor: pointer;
        }
    }

    .header-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;
        padding: 0 8px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        line-height: 21px;
        font-size: 14px;
        display: flex; 
        align-items: center;
        justify-content: center;
        color: #353535;
        margin: 0 10px;

        img {
          padding-right: 10px;
        }
      }
    }

    .header-icon-cart {
      border: 1px solid #FAA500;
      border-radius: 8px;
      width: 134px;
      height: 46px;
    }

    .header-icons-mob, .hamburger-menu-container {
      display: none;
    }

    .mz-menu-container {
      height: 41px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    .mz-menu-itens {
      a {
        text-decoration: none;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #353535;
        padding: 0 40px;
      }
    }

    .mz-menu-itens-destaque {
      a {
        color: #FAA500;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .mz-menu-itens-destaque {
      img {
        padding-right: 10px;
      }
    }
  }
}


/* Estilos específicos para Mobile */
@media (max-width: 767px) {
  #mz-header {
    .mz-tipbar {
      font-size: 10px;
    }

    .mz-header-container {
      flex-direction: column;
    }

    .header-content {
      width: 100%;
      min-height: 88px;
    }

    .header-logo {
      width: 50%;
    }

    .header-search {
      width: 100%;
      margin-top: 16px;
      display: none;
    }

    .header-search {
      input {
        width: 100%;
        height: 40px;
        padding: 8px;
      }
    }

    .header-icons, #mz-menu {
      display: none;
    }

    .header-search-mob {
      padding: 0 10px;
    }

    .header-icons-mob {
      width: 40%;
    }

    .header-icons-mob {
      a {
        padding: 0 15px;
      }
    }

    .header-search-input-mob {
      width: 100%;
      margin-bottom: 10px;
    }

    .header-search-mob {
      input {
        width: 60%;
        height: 40px;
        padding: 0 10%;
        border-radius: 10px;
        border: none;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #353535;
        background-color: #EFEFEF;
      }
    }

    .header-search-mob {
      button {
        width: 20%;
        height: 40px;
        background-color: #FAA500;
        border: none;
        border-radius: 8px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
      }
    }

    .hamburger-menu-container {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 15px;
      width: 10%;
    }

    .hamburger-menu-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: relative;
      display: inline-block;
      width: 40px;
    }

    .hamburger-menu-button {
      span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        margin-bottom: 5px;
        transition: transform 0.3s ease;
      }
    }

    .hamburger-menu-button.open span:nth-child(1) {
      transform: translateY(10px) rotate(-45deg);
    }

    .hamburger-menu-button.open span:nth-child(2) {
      opacity: 0;
    }

    .hamburger-menu-button.open span:nth-child(3) {
      transform: translateY(-10px) rotate(45deg);
    }

    .hamburger-menu-nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease;
    }

    .hamburger-menu-nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }

    .hamburger-menu-nav {
      li {
        margin-bottom: 10px;
      }
    }

    .hamburger-menu-nav {
      a {
        display: block;
        padding: 15px 25px;
        text-decoration: none;
        color: #FFF;
      }
    }

    .hamburger-menu-nav.open {
      height: auto;
      top: 76px;
      background: #faa500f2;
      width: 230px;
      color: #fff;
      z-index: 99;
    }

    .mz-menu {
      display: none;
    }
  }
}